body{
         background-image: url(anisa.jpg);
         background-repeat: no-repeat;
         background-position: top:
}

h1{color:008060; text-align: center;font-family: Rubik}

h2{background-color: rgb(77,152,113);color:white: padding:10px; font-family: Consolas}

ul{border: 2px solid rgb(77,152,113); margin: 50px;background-color: white;font-family: Cambria

p{color: #008060;font-family:Bahnschrift; font-size: 18px}

img{border-radius: 50%}